body {
    font-family: 'Arial', serif;
}

h1 {
    font-weight: normal; font-size: 18pt; color: #000487;
    margin-top: 10pt; margin-bottom: 6pt;
    border-top: 0.075cm solid #e9b12e; border-bottom: 0.075cm solid #e9b12e;
    text-align: justify;
}

td {
    border: 1px solid black; border-collapse: collapse;
}